body{
    background-color: rgb(27, 27, 27);
    column-rule-color: aquamarine;
    lighting-color: aquamarine;
    justify-content: center;
     

     
}
h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    
}

h2{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 100px;
    

}
p{
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-align:center;
}
h3{
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-align: left;
}

p{
    font-size: 20px;
    text-align: left;
    color: rgb(172, 15, 15);
    
}






hr{
    border: 2px solid;
    color: rgb(255, 136, 0);
    margin: 5px 1px;


}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 5px;
}


h4{
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-align: left;
    
}
h5{
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
}

h6{
    color: rgb(255, 0, 0);
    font-size: 25px;
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
}


p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
   
}    
a{
   color: rgb(12, 12, 201);
   font-size: 25px;
    text-align: left;
}





.button2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 15px;
}
.button3{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 15px;
}

.class2{
    color: rgb(255, 0, 0);
    font-size: 15px;
}

.my-image1{
    margin: 0px;
    padding: 5px;
    border: 4px solid rgb(255, 137, 3);
    margin-right:300px;
    
   
}

.section4{
    background-color: rgb(16, 16, 16);
   
    height: 200px;
    width:900px;
    text-align: right;
    margin-top: 100px;
    border-radius: 2px;
      background: linear-gradient(to right, #ff8800, #212121 );
}
.p1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}
.p2{
    color: aliceblue;
    font-size: 30px;
    text-align: left;
}

.div2{
    margin: 15px;
    padding: 15px;
    border: px solid rgb(22, 22, 22);
    background-color: rgb(19, 19, 19);
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-style: initial;
    border-radius: 15px;
}
.div3{
    margin: 80px;
    padding:100px 50px;
    border:  0solid rgb(0, 0, 0);
    background-color: rgb(72, 72, 72);
    text-align: center;
    font-size: 15px;
    color: rgb(240, 0, 0);
    font-style: initial;
    border-radius: 1px;
    
}
.section1{
    background-color: #2f2f2f;
    color: #ffffff
    height:20px;
    width: 140px;
    border-radius:20px;
 
  






    
}
.hr1{
    color: #000;

}







     <button style="float:right"; style="float:lower"class="button1">
        

        
      
        <p class="class3">Have a question or want to reach out?Here's where you can contact me</p>
        <ul>
          <li class="4">Edezie: <a href="mailto:edezie07gmail.com">edezie07@gmail.com</a></li>
          <li class="4">Facebook: <a href="https://www.facebook.com/edezie.agaled.3/" target="_blank"></a>https://www.facebook.com/edezie.agaled.3/<a></a></li>
          <li class="4">Contact: +63 910 520 5293</Li>
        </ul>

    
   
     
      
      <textarea placeholder style="float:right"> "Kindly provide your feedback here"</textarea>  
 